schema/personList.rnc

namespace xi = "http://www.w3.org/2001/XInclude"

#
#  This schema validates the flat person list.
#  Such a xml is generated by the XSLT.
#

grammar {

  # The root element is just a list
  start = element list { listContent }

  # and inside the list there may be any number of persons defined.
  listContent = ( Person * )

  # A person definition
  Person = element person { personContent }

  # A person must have a unique identifier (unique across the persons),
  # an attribute which says if it is a male or a female, a name definition.
  # This is the minimal person content. Moreover there may be information
  # about birth and death. And of course, each person may have
  # exactly one mather and one father.
  personContent = (
      ID
      , attribute sex { "male" | "female" }
      , Name
      , Birth ?
      , Father ?
      , Mather ?
      , Death ?
  )

  # An identifier which may be referenced by the href attribute
  ID = ( attribute id { text } )

  # The name of the person.
  Name = element name { nameContent }

  # The first and the second part of the person name. The second name should
  # be the birth name.
  nameContent = (    
    ( element first { text } , element second { text } )
    | element first { text }
    | element second { text }
  )

  # Information about the person birth.
  Birth = element birth { eventContent }

  # The death information
  Death = element death { eventContent }

  # a reference to father
  Father = element father { Reference }
  
  # A reference to mather
  Mather = element mather { Reference }

  # If there are information about a source, where one may verify given
  # information, than the verified, shoud be true, otherwise false.
  eventContent = (
    attribute verified { 'true' | 'false' }, (
      ( Date , Place )
      | Date
      | Place
    )
  )

  # Reference is just a href attribute which contains a value of id attribute
  # of the referenced object.
  Reference = ( attribute href { text } )

  Date = element date { dateContent }

  Place = element place { placeContent }

  dateContent = ( 
    element year { xs:integer } 
    , element month { xs:integer } ?
    , element day { xs:integer } ?
  )

  placeContent = ( 
    text | (
      element region { text } ?
      , element district { text } ?
      , element parish { text } ?
      , element house-nr { text } ?
      , Coordinates ?
    )
  )

  Coordinates = element { coordinatesContent }

  coordinatesContent = (
    element lon { xs:double }
    , element lat { xs:double }
  )

  Include = element xi:include {
    attribute parse { text },
    attribute href { text }
  }

}
