schema/weddingList.rnc

#
#    Copyright 2017 Jiri Lidinsky
#
#    This file is part of Genealogy project.
#
#    Genealogy is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Genealogy is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Genealogy. If not, see http://www.gnu.org/licenses/.
#

namespace xi = "http://www.w3.org/2001/XInclude"
namespace xs = "http://www.w3.org/2001/XMLSchema"

#
#  This schema validates the flat wedding list.
#  Such a xml is generated by the XSLT schema makeWeddingList.xsl.
#

grammar {

    include "common.rnc"

    # The root element is just a list
    start = element list { Wedding * }

    # A wedding definition
    Wedding = element wedding { weddingContent }

    weddingContent = (
        Cite ?
        , DatePlace
        , Bride
        , Bridegroom
    ) 

    # a reference to bride
    Bride = element bride { Reference }
  
    # A reference to bridegroom
    Bridegroom = element bridegroom { Reference }

}